@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pokedex {
  width: 25%;
  background: red;
  border: solid 1px black;
  padding: 5px;
}

a:hover {
  cursor: pointer;
}

#search input {
  width: 75%;
  outline: none;
  border: none;
  padding-left: 5px;
}
#search input::placeholder {
  font-size: 0.8rem;
}
#search a {
  width: 25%;
  background: white;
  border: none;
  outline: none;
}
#search input,
#search a {
  height: 25px;
}

#topControls {
  justify-content: space-between;
  padding: 1rem 0;
}
#topControls .arrow {
  width: 15%;
  height: 100%;
  background: rgb(248, 64, 64);
  padding: 4px 0;
}
#topControls .color {
  width: 30%;
  border: solid 1px black;
  font-size: 0.7rem;
  padding: 5px 0;
}
#topControls {
  text-align: center;
}
#topControls .color {
  text-decoration: none;
  background: white;
}

#pokeImgContainer {
  background: white;
  height: 100px;
}

#nameNumber {
  text-align: center;
}

#types {
  text-align: center;
}

#nameNumber,
#types,
#pokeImgContainer {
  text-align: center;
  margin-bottom: 1rem;
}

#flavorText {
  font-size: 0.6rem;
}
