@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pokedex {
  width: 25%;
  background: red;
  border: solid 1px black;
  padding: 5px;
  border-radius: 5px;
}

a:hover,
#searchButton {
  cursor: pointer;
}

#searchButton {
  outline: none;
  border: none;
}
#search input {
  width: 75%;
  outline: none;
  border: none;
  padding-left: 5px;
}
#search input::placeholder {
  font-size: 0.8rem;
}
#search button {
  width: 25%;
  background: white;
  border: none;
  outline: none;
}
#search input,
#search button {
  height: 25px;
}

#topControls {
  justify-content: space-between;
  padding: 1rem 0;
}
#topControls .arrow {
  width: 15%;
  height: 100%;
  background: rgb(248, 64, 64);
  padding: 4px 0;
}
#topControls .color {
  width: 30%;
  border: solid 1px black;
  font-size: 0.7rem;
  padding: 5px 0;
  color: black;
}
#topControls {
  text-align: center;
}
#topControls .color {
  text-decoration: none;
  background: white;
}

#pokeImgContainer {
  background: white;
  height: 100px;
}
#pokeImg {
  width: 100px;
  height: 100px;
}

#nameNumber {
  text-align: center;
}
#pokeName {
  text-transform: capitalize;
}

#types {
  text-align: center;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nameNumber,
#types,
#pokeImgContainer {
  text-align: center;
  margin-bottom: 1rem;
  width: 100%;
}

#flavorText {
  font-size: 0.6rem;
}

#type1,
#type2 {
  border-radius: 5px;
  /* padding: 2px 5px; */
  width: 100%;
  color: black;
}

.normal {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(168, 167, 122, 1) 100%
  );
}
.water {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(99, 144, 240, 1) 100%
  );
}
.fire {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(238, 129, 48, 1) 100%
  );
}
.electric {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(247, 208, 44, 1) 100%
  );
}
.grass {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(122, 199, 76, 1) 100%
  );
}
.ice {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(150, 217, 214, 1) 100%
  );
}
.fighting {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(194, 46, 40, 1) 100%
  );
}
.poison {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(163, 62, 161, 1) 100%
  );
}
.ground {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(226, 191, 101, 1) 100%
  );
}
.flying {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(169, 143, 243, 1) 100%
  );
}
.psychic {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(249, 85, 135, 1) 100%
  );
}
.bug {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(166, 185, 26, 1) 100%
  );
}
.rock {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(182, 161, 54, 1) 100%
  );
}
.ghost {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(115, 87, 151, 1) 100%
  );
}
.dragon {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(111, 53, 252, 1) 100%
  );
}
.dark {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(112, 87, 70, 1) 100%
  );
}
.steel {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(183, 183, 206, 1) 100%
  );
}
.fairy {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(214, 133, 173, 1) 100%
  );
}

span.hideType {
  display: none !important;
}
